<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">
<listeners>
<listener class-name="com.test.automation.uiAutomation.customListner.Listner"></listener>
<listener class-name="com.test.automation.uiAutomation.customListner.RetryListner"></listener>
</listeners>
<test name="Test">
<classes>
<class name="com.test.automation.uiAutomation.homepage.TC002_VerifyLoginWithInvalidCredentials"></class>
</classes>
</test>
</suite>
